/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
   
	.aspect-ratio {
	    width: 100%; 
		height: 430px;
	}
	
	.resp-container {
		position: relative;
		overflow: hidden;
		padding-top: 100%;
		height: 780px;
	}
	
	.resp-iframe {
		position: absolute;
		top: -120px;
		left: -300px;
		height: 880px;
		width: 1200px;
	}
}